<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>{{ ver }}-设备信息</title>
<link rel="shortcut icon" href="{% static 'image/icon.ico' %}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .main {
        text-align: center;
        flex: 70%;
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
    }

    .main table td {
        text-align: left;
    }

    .navbar {
        font-size: 16px;
    }

    .side table {
        line-height: 50px;
    }

    .side table td {
        text-align: center;
    }

    .ct table {
        line-height: 50px;
    }

    .ct table td {
        text-align: center;
    }

    .middle{
        width: 70%;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<script src="{% static 'js/easytabs.js' %}"></script>
</head>
<body>
<form action="/equipment/" method="post">
{% csrf_token %}
<div class="header">
    <a href="https://www.cnpc.com.cn/cnpc/index.shtml">
      <img src="{% static 'image/logo.png' %}" width="60px" height="60px" align="center">
    </a>
  <h1>&nbsp;&nbsp;{{ ver }}-{{ item.name }}</h1>
</div>

<div class="navbar">
      <a href="/">首页</a>
      <a href="/info">平台简介</a>
      <a href="/equipment">仪器列表</a>
      <a href="/question">常见问题</a>
      <a href="/contact">联系我们</a><br />
</div>
<div class="row">
    <div class="main"><div class="side">
    <table border="0" style="border: 1px">
    <tr>
            <th>{{ loc }} - {{ classic }}</th>
        </tr>
        {% for item in data %}
            <tr>
                <td>
                    <a href="/equipment/detail/{{ item.id }}">{{ item.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table><br />
    </div>
        <div class="middle">
  <div class="menu">
<ul>
<li><a href="#" onmouseover="easytabs('1', '1');" onfocus="easytabs('1', '1');" onclick="return false;"  title="" id="tablink1">仪器信息</a></li>
<li><a href="#" onmouseover="easytabs('1', '2');" onfocus="easytabs('1', '2');" onclick="return false;"  title="" id="tablink2">仪器图片 </a></li>
<li><a href="#" onmouseover="easytabs('1', '3');" onfocus="easytabs('1', '3');" onclick="return false;"  title="" id="tablink3">样品要求 </a></li>
<li><a href="#" onmouseover="easytabs('1', '4');" onfocus="easytabs('1', '4');" onclick="return false;"  title="" id="tablink4">仪器预约</a>
</li>
</ul>
</div>
  <div id="tabcontent1">
      <h2>{{ item.name }}</h2>
      <p> <img src="/static/{{ img }}/1.jpg" width="200px" height="150px" align="center"><br>
        <br>
      </p>
      <table width="800" border="1">
        <tbody>
          <tr>
            <th scope="row" width="100">&nbsp;设备品牌</th>
            <td>{{ item.brand }}&nbsp;</td>
          </tr>
          <tr>
            <th scope="row">&nbsp;引进时间</th>
            <td>{{ item.time }}</td>
          </tr>
          <tr>
            <th scope="row">仪器型号&nbsp;</th>
            <td>{{ item.num }}</td>
          </tr>
          <tr>
            <th scope="row">设备地点&nbsp;</th>
            <td>{{ item.city }} - {{ item.locate }}</td>
          </tr>
          <tr>
            <th scope="row">&nbsp;功能用途</th>
            <td>{{ item.function }}</td>
          </tr>
          <tr>
            <th scope="row">&nbsp;关键参数</th>
            <td>{{ item.para }}</td>
          </tr>
          <tr>
            <th scope="row">&nbsp;关键配件</th>
            <td>{{ item.detail }}</td>
          </tr>
          <tr>
            <th scope="row">&nbsp;设备状态</th>
            <td>&nbsp;{{ item.status }}</td>
          </tr>
        </tbody>
      </table>
      {% if item.status == '正常，待机' or ' 正常，待机' %}
      <h3><font color="green">可预约</font></h3><br/>
      {% else %}
      <h3><font color="red">不可预约</font></h3><br/>
      {% endif %}
      <input type="submit" name="print" value="信息打印"><br /><br />
      <a href="javascript:history.back()">返回上页</a>
  </div>
  <div id="tabcontent2">
      {% for i in num %}
      <img src="/static/{{ img }}/{{ i }}.jpg" width="800px" height="600px" align="center"><br><br>
      {% endfor %}</div>
<div id="tabcontent3" class="ct">待补充</div>

<div id="tabcontent4" class="ct">
<table border="0" style="border: 1px">
        <tr>
            <th>{{ item.name }}预约说明</th>
        </tr>
            <tr><td>检测费用：{{ item.price }}元/小时</td></tr>
                <tr><td>预约方式：{{ item.book }}</td></tr>
                <tr><td>联系人：{{ item.people }}</td></tr>
                <tr><td>联系方式：{{ item.contact }}</td>
            </tr>
    </table><br />

    {% if item.status == '正常，待机' or ' 正常，待机' %}
      <h3><font color="green">可预约</font></h3><br/>
      <input type="submit" name="booke" value="线上预约">
      {% else %}
      <h3><font color="red">不可预约</font></h3><br/>
      <input type="submit" name="notify" value="可用时通知我">
      {% endif %}
</div>
    </div>
  </div>
</div>

<div class="footer">
  <h2>
      powered by CNPC
  </h2>
</div>
</form>
</body>
</html>