<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>{{ ver }}-设备信息</title>
<link rel="shortcut icon" href="{% static 'image/logo.png' %}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .main {
        text-align: center;
        flex: 70%;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script>
        function jumpp() {
            var loc = document.getElementsByName('loc')[0].value;
            var classif = document.getElementsByName('type')[0].value;
            window.location.href = '/equipment?loc=' + loc + '&type=' + classif;
        }


        window.onload = function() {
            const table = document.getElementById('mytable');
            console.log(table)
            const l = table.rows.length;
            console.log(l)
            let cnt = 0;
            let tmp = '';
            let startval = 0;
            for (let i = 0; i < l; i++) {
                const val = table.rows[i].cells[0].innerText;
                if (i === l - 1) {
                    {#table.rows[i].removeChild(table.rows[i].cells[0])#}
                    table.rows[startval].cells[0].rowSpan = cnt + 1
                }
                if (val !== tmp) {
                    if (i !== 0) {
                        table.rows[startval].cells[0].rowSpan = cnt
                    }
                    cnt = 1;
                    tmp = val;
                    startval = i;
                } else {
                    cnt++;
                    table.rows[i].removeChild(table.rows[i].cells[0])
                }
            }
        }
    </script>
</head>
<body>
<form action="/equipment" method="post">
{% csrf_token %}
<div class="header">
    <a href="https://www.cnpc.com.cn/cnpc/index.shtml">
      <img src="{% static 'image/logo.png' %}" width="60px" height="60px" align="center">
    </a>
  <h1>&nbsp;&nbsp;{{ ver }}-设备信息</h1>
    <div class="right" style="top: 30%">
        <input name="word" placeholder="请输入关键词">
        <input type="submit" value="搜索" name="search">
    </div>
</div>

<div class="navbar">
      <a href="/">首页</a>
      <a href="/info">平台简介</a>
      <a href="/equipment">仪器列表</a>
      <a href="/question">常见问题</a>
      <a href="/contact">联系我们</a><br />
</div>

<div class="row">
  <div class="main">

  设备所在地&nbsp;&nbsp;&nbsp;&nbsp;<select name="loc" style="width: 200px">
          {% for item in city_box %}
              <option>{{ item }}</option>
          {% endfor %}
          </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          设备分类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name="type" style="width: 200px">
          {% for item in class_box %}
              <option>{{ item }}</option>
          {% endfor %}
          </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="javascript:jumpp()">查找</a><br /><br />
      <hr /><br />

      <h3>{{ loc }}仪器列表 - {{ type }}</h3><br/>
    <table border="1" id="mytable">
        <tr>
            <th>分类</th>
            <th>设备名称</th>
            <th>仪器品牌</th>
            <th>仪器型号</th>
            <th>预约方式</th>
            <th>设备状态</th>
            <th>设备地点</th>
            <th>操作</th>
        </tr>
        {% for item in data %}
            <tr>
                <td>{{ item.classic }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.num }}</td>
                <td>{{ item.book }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.city }}</td>
                <td>
                    <a href="/equipment/detail/{{ item.id }}">详细信息</a>
                </td>
            </tr>
        {% endfor %}
    </table><br />
  <a href="/">返回主页</a>
  </div>
</div>

<div class="footer">
  <h2>
      powered by CNPC
  </h2>
</div>
</form>
</body>
</html>