<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>{{ ver }}</title>
<link rel="shortcut icon" href="{% static 'image/logo.png' %}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .side {
        background-image: url({% static 'image/cnpc_l.png' %});
        background-size: cover;
    }

    .bottom {
        background-image: url({% static 'image/cnpc_r.png' %});
        background-size: cover;
    }

    .main {
        line-height: 70%;
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
    }

    .show {
        line-height: 70%;
        text-align: center;
    }

    .show h5 {
        margin-top: 0;
        margin-bottom: 20px;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</head>
<body>
<form id="f" action="/" method="post">
{% csrf_token %}
<div class="header">
    <a href="https://www.cnpc.com.cn/cnpc/index.shtml">
      <img src="{% static 'image/logo.png' %}" width="60px" height="60px" align="center">
    </a>
  <h1>&nbsp;&nbsp;中国石油&nbsp;|&nbsp;{{ ver }}</h1>
    <div class="right" style="top: 30%">
        <input name="word" placeholder="请输入关键词">
        <input type="submit" value="搜索" name="search">
    </div>
</div>

<div class="navbar">
      <a href="/">首页</a>
      <a href="info">平台简介</a>
      <a href="equipment">仪器列表</a>
      <a href="question">常见问题</a>
      <a href="contact">联系我们</a><br />
  </div>

<div class="row">
  <div class="main">
      <div class="side">
      <h5>快速查找</h5>
          设备所在地&nbsp;&nbsp;&nbsp;&nbsp;<select name="loc" style="width: 200px">
          {% for item in city %}
              <option>{{ item }}</option>
          {% endfor %}
          </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br ></br ></br >
          设备分类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name="type" style="width: 200px">
          {% for item in class %}
              <option>{{ item }}</option>
          {% endfor %}
          </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br ></br ></br >
      <a href="javascript:void(0)" onclick="document.getElementById('f').submit();return false;">查找</a><br /><br /><br /><br />


      </div>
      <div class="show">
          <h5>仪器设备</h5>
          <div class="focus">
    <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><a href="equipment/detail/1"><img src="{% static 'image/1/1.jpg' %}" width="616px" height="250px" align="center"></a></div>
      <div class="swiper-slide"><a href="equipment/detail/5"><img src="{% static 'image/5/1.jpg' %}" width="616px" height="250px" align="center"></a></div>
      <div class="swiper-slide"><a href="equipment/detail/14"><img src="{% static 'image/21/1.jpg' %}" width="616px" height="250px" align="center"></a></div>
      <div class="swiper-slide"><a href="equipment/detail/17"><img src="{% static 'image/17/1.jpg' %}" width="616px" height="250px" align="center"></a></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
              </div>
  </div>
  <div class="bottom">
      <h5>仪器统计</h5>
      共{{ cnt.a }}台仪器<br/>
      {{ cnt.b }}台正在使用<br/>
      {{ cnt.c }}台待机中<br/>
      {{ cnt.d }}台维修中<br/>
  </div>
  </div>

</div>

<div class="footer">
  <h2>
      powered by CNPC
  </h2>
</div>
</form>
</body>
</html>